
<mat-card>
  <mat-spinner *ngIf="loadingSpinner"></mat-spinner> <!--ngIf= true = spinner visible-->
  <form *ngIf="!loadingSpinner"> <!--Listening for submit button-->
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-Mail">
      <mat-error *ngIf="">Enter E-Mail, Please.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password">
      <mat-error *ngIf="">Enter a valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
