<!--Template driven forms below-->
<!--Note: "Elvis operator" = post?.title | post?.content, forces ng to check if post exists before rendering title-->

<mat-card>
  <mat-spinner *ngIf="loadingSpinner"></mat-spinner> <!--ngIf= true = spinner visible-->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!loadingSpinner"> <!--Listening for submit button-->
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Enter Title...">
      <mat-error *ngIf="form.get('title').invalid">Enter a title, Please.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="selectFile.click()">Upload Image</button>
      <input type="file" #selectFile (change)="onImageSelected($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Content Here..."></textarea>
      <mat-error *ngIf="form.get('content').invalid">All title & No post?</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>


